* {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0px;
}

html, body{
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #FFFFFF;
}




/*SIDE BAR*/

#sidebar-container {
  background-color: #4D394B;
  color: #ab9ba9;
  position: fixed;
  height: 100%;
  width: 200px;
}

#sidebar-title {
  width: 200px;
  background-color: #2a2d33;
  margin-bottom: 20px;
}

#sidebar-title h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;

}

#sidebar-list-header{
 padding-left: 15px;
 padding-bottom: 3px;
 margin-bottom: 10px;
 border-bottom: 1px solid #ab9ba9;
   font-weight: 700;
  font-size: 12px;
}

.sidebar-list {
  padding-left: 15px;
  line-height: 25px;
}

.sidebar-list:hover {
  background-color: #3d313b;
  cursor: pointer;
}

#sidebar-new-list {
  padding-left: 15px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
}

#sidebar-new-list:hover {
  cursor: pointer;
  color: white;
}