* {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0px;
}

html, body{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
}




/*SIDE BAR*/

.sidebar-container {
  background-color: #4D394B;
  color: #ab9ba9;
  position: fixed;
  height: 100%;
  width: 200px;
}

#sidebar-title {
  width: 200px;
  background-color: #2a2d33;
  margin-bottom: 20px;
}

#sidebar-title h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}


#sidebar-list-header{
 padding-left: 15px;
 padding-bottom: 3px;
 margin-bottom: 10px;
 border-bottom: 1px solid #ab9ba9;
 font-weight: 700;
 font-size: 12px;
}

.sidebar-list {
  padding-left: 15px;
  line-height: 25px;
}

.sidebar-list:hover {
  background-color: #3d313b;
  cursor: pointer;
}

#sidebar-new-list {
  padding-left: 15px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
}

#sidebar-new-list:hover {
  cursor: pointer;
  color: white;
}



/*MAIN LIST CONTENT*/
.main-container {
  background-color: #FFFFFF;
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100%;
}

.list-container {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.list-name {
  text-align: center;
  background-color: #4C9689;
  color: white;
  line-height: 50px;
  font-weight: 700;
}

#new-list-form-container {
  width: 400px;
  height: 300px;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 2px 10px rgba(64,54,63,.5);
  border-radius: 10px;
}

#new-list-form-container-content{
  display: inline-block;
  margin-top: 50px;
}


#new-list-form-title {
  text-align: center;
  font-size: 30px;
  color: #2a2d33;
}

#new-list-input {
  width: 350px;
  height: 50px;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #F7F7F7;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(64,54,63,.5);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  color: #4C9689;
  text-align: center;

}

#new-list-input:focus {
  outline: none;
}

#new-list-submit {
  margin-left: 100px;
  margin-top: 30px;
  width: 200px;
  height: 60px;
  background-color: #48a0de;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 30px;
}

#new-list-submit:hover {
  cursor:pointer;
  outline: none;
}